@model DiceRollModel
@using DiceRoller.Library
@{
    ViewData["Title"] = "Rolling happens here";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="container">
    <div class="row">
        <div class="col-md-3 m-1">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <form>
                    <div class="form-group">
                        <h4>Choose your dice.</h4>
                        <div class="dropdown row">
                            <label for="diceType">Dice Type</label>
                            <select asp-for="DiceType" id="diceType" class="custom-select" onchange="hideDiv(this);">
                                <option value="100">d100</option>
                                <option value="20" selected="selected">d20</option>
                                <option value="12">d12</option>
                                <option value="10">d10</option>
                                <option value="8">d8</option>
                                <option value="6">d6</option>
                                <option value="4">d4</option>
                            </select>
                        </div>
                        <div class="row">
                            <label for="diceCount">Number of Dice</label>
                            @Html.TextBox("diceCount", Model.DiceCount, new { @class = "form-control valid", @data_val = "true", @data_val_required = "Number of dice must be 1 or greater." })
                        </div>
                        <div class="row">
                            <label for="bonus">Bonus/ Modifier</label>
                            @Html.TextBox("bonus", Model.Bonus, new { @class = "form-control valid", @data_val = "true", @data_val_required = "For no bonus or modifier enter 0" })
                        </div>
                        <div class="d-block" id="Vantage">
                            <div class="custom-control custom-radio row">
                                <input class="custom-control-input" asp-for="VantageType" id="NoVantage" data-val="true" name="VantageType" type="radio" value="NoVantage" checked="checked" />
                                <label for="NoVantage" class="custom-control-label">Normal Roll</label>
                            </div>
                            <div class="custom-control custom-radio row">
                                <input class="custom-control-input" asp-for="VantageType" id="Advantage" data-val="true" name="VantageType" type="radio" value="Advantage" />
                                <label for="Advantage" class="custom-control-label">Advantage</label>
                            </div>
                            <div class="custom-control custom-radio row">
                                <input class="custom-control-input" asp-for="VantageType" id="Disadvantage" data-val="true" name="VantageType" type="radio" value="Disadvantage" />
                                <label for="Disadvantage" class="custom-control-label">Disadvantage</label>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Roll!</button>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </form>
            }
        </div>

        @if (Model.RollResult != null)
        {
            <div class="col-md-3 alert alert-primary m-1">
                @if (Model.RollResult.CritValue != Crit.False)
                {
                    @if (Model.RollResult.CritValue != Crit.CriticalFail)
                    {
                        <div class="row alert alert-success">@Model.RollResult.CritMessage</div>
                    }
                    else
                    {
                        <div class="row alert alert-danger">@Model.RollResult.CritMessage</div>
                    }
                }
                <div class="row">@Model.RollResult.RollMade</div>
                <div class="row">The rolls were: @Model.RollResult.Rolls</div>
                <div class="row">Total: @Model.RollResult.Result</div>
            </div>
        }
        <!--next thing to get working-->
        @if (Model.RollResult != null && Model.RollHistory.Count >= 1)
        {
            for (int i = 0; i >= 3; i++)
            {
                var thisEntry = Model.RollHistory[i];
            <div class="col-md-3 alert alert-primary m-1">
                @if (thisEntry.CritValue != Crit.False)
                {
                    @if (thisEntry.CritValue != Crit.CriticalFail)
                    {
                        <div class="row alert alert-success">@thisEntry.CritMessage</div>
                    }
                    else
                    {
                        <div class="row alert alert-danger">@thisEntry.CritMessage</div>
                    }
                }
                <div class="row">@thisEntry.RollMade</div>
                <div class="row">The rolls were: @thisEntry.Rolls</div>
                <div class="row">Total: @thisEntry.Result</div>
            </div>
            }
        }
    </div>
</div>

<script>
    function hideDiv(diceType) {
        var chosen = diceType.options[diceType.selectedIndex].value;
        if (chosen == "20") {
            document.getElementById("Vantage").classList.value = "d-block";
        } else {
            document.getElementById("Vantage").classList.value = "d-none";
        }
    }
</script>